body {
    font-family: "Quicksand"; font-size: 22px;
    margin: 0;
}
/*Header-start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlink{
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding-right: 250px;
    color: black;
}
.logo {
    height: 125px;
    width: 125px;
    margin-left: 100px;
}
/*Home-body-start*/
.simg { /*Stretched img*/
    display: block;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}
/*Text in stretched img center*/
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    font-family: "Bebas Neue";
}
/*Paragraph text*/
.text {
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 300px;
    margin-bottom: 300px;

}
/*Second stretched image text*/
.thirdcon{
    position: relative;
}
.righttxtH{
    position: absolute;
    top: 1500px;
    right: 160px;
    color: white;
    font-size: 30px;
    font-family: "Trebuchet MS";
}
.righttxt {
    position: absolute;
    top: 1640px;
    right: 16px;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS";
}
button {
    position: absolute;
    top: 1800px;
    right: 320px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
}
/*Partners*/
.thirdcon {
    margin-top: 70px;
    text-align: center;
    font-size: 42px;
}
/*Footer-start*/
footer {
    margin-top: 70px;
    background-color: black;
    padding: 20px;
}
.social {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
}
/*About_Page-start*/
.abouttxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.headerAbouttxt{
    max-width: 600px;
}
/*Main About information*/
.aboutMain {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 60px;
}
.aboutMainTxt{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
.profileimg{
    height: 450px;
    width: 400px;
    margin-left: 100px;
}
/*Second stretched image in About page*/
.quote{
    position: absolute;
    top: 100px;
    right: 16px;
    max-width: 400px;
    font-size: 30px;
    color: white;
}
.aboutFooter{
    position: relative;
    margin-bottom: -70px;
}