* {
    box-sizing: border-box;
}
body {
    font-family: "Quicksand"; font-size: 22px;
    margin: 0;
    background-color: whitesmoke;
    -ms-overflow-style: none; /*Hiding scrollbar for better looks*/
    scrollbar-width: none;
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
/*==================================================*Header*==========================================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlink{
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding-right: 250px;
    color: black;
}
.logo {
    height: 125px;
    width: 125px;
    margin-left: 100px;
}
/*==================================================*Home_page*=======================================================*/
/*Slideshow*/
.slideshow-img {
    position: relative;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}
.slide {
    display: none;
}
.slideshow-container{
    position: relative;
}
/*Text in slideshow img center*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: "Bebas Neue";
}
/*Slideshow-end*/
/*Paragraph after slideshow*/
.text {
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 300px;
    margin-bottom: 300px;
}
/*Stretched image with link to forum*/
.secondcon{
    position: relative;
}
.simg {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}
.forumtxt{
    position: absolute;
    top: 150px;
    right: 16px;
    max-width: 600px;
    color: white;
}
button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 220px;
}
/*Partners*/
.thirdcon {
    margin-top: 70px;
    text-align: center;
    font-size: 42px;
}
/*==================================================*Footer*==========================================================*/
footer {
    margin-top: 70px;
    background-color: black;
    padding: 20px;
}
.social {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
}
/*==================================================*About_page*======================================================*/
/*Text explaining category*/
.abouttxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.headerAbouttxt{
    max-width: 600px;
}
/*Main About information in the middle*/
.aboutMain {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 60px;
}
.aboutMainTxt{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
.profileimg{
    height: 450px;
    width: 400px;
    margin-left: 100px;
}
/*Second stretched image in About page with quote*/
.quote{
    position: absolute;
    top: 100px;
    right: 16px;
    max-width: 400px;
    font-size: 30px;
    color: white;
}
.aboutFooter{
    position: relative;
    margin-bottom: -80px;
}
/*==================================================*Gallery_page*====================================================*/
.categories {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
/*Category image*/
.catimg {
    opacity: 80%;
}
.cattxt{
    position: absolute;
    display: flex;
    color: white;
    font-size: 57px;
    gap: 125px;
    text-shadow: #000 0px 0px 3px;;
}
/*==================================================*Category_page*====================================================*/
.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}
.gridImg{
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 5px;
}